<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="range_right" type="DistanceSensor">
            <ros>
                <topicName>/range_right</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="range_left" type="DistanceSensor">
            <ros>
                <topicName>/range_left</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="range_front" type="DistanceSensor">
            <ros>
                <topicName>/range_front</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="range_back" type="DistanceSensor">
            <ros>
                <topicName>/range_back</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="camera" type="Camera">
            <ros>
                <topicName>/camera/drone</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="intertial_unit" type="InertialUnit">
            <ros>
                <topicName>/imu</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="gps" type="GPS">
            <ros>
                <topicName>/gps</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="gyro" type="Gyro">
            <ros>
                <topicName>/gyro</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_package.my_crazy_driver.MyCrazyDriver" />
    </webots>
</robot>